<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppCompat.SwipeLayout.Translucent">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.SwipeLayout"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".swipe_fragment.SwipeFragmentActivity"
            android:exported="true" />
        <activity
            android:name=".shared_element.SharedElementActivity"
            android:exported="true" />
        <activity
            android:name=".shared_element.SharedElementDetailActivity"
            android:exported="true" />
        <activity
            android:name=".try_custom_swipe.ConfigOpenActivity"
            android:exported="true" />
        <activity
            android:name=".try_custom_swipe.ConfigOpenedActivity"
            android:exported="true" />
        <activity
            android:name=".big_app.TelegramActivity"
            android:exported="true" />
        <activity
            android:name=".big_app.FacebookActivity"
            android:exported="true" />
        <activity
            android:name=".big_app.TiktokActivity"
            android:exported="true" />
    </application>

</manifest>